body {
  background-color: #282c34 !important;
}

body.login {
  background-image: url("http://localhost:3000/img/restaurant.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.login .justify-content-start + div {
  padding-left: 0;
}
body.login .card{
  border-radius: 0;
}

.navbar{
  background-color: #fafac0;
}

#Lnt {
  text-align: right;
}

.card-img-top{
  width: 400px !important;

}
